#action {
  background-image: url("../img/background_actioncall6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  min-height: 328px;
  color:  $white-color;
  text-align: center;

  br {
    @media only screen and (max-width: 520px), (orientation: portrait) {
      display: none;
    }
  }

  p {
    font-size: 19px;
    margin-top: 0;
    color: $lighter-gray-color;
    line-height: 26px;
    font-weight: bold;

    @media only screen and (max-width: 1200px), (orientation: portrait) {
      font-size: 20px;
    }
  
    @media only screen and (max-width: 480px), (orientation: portrait) {
      font-size: 17px;
      line-height: 21px;
    }
  }

  h3 {
    padding-top: 5px;
    color: $lighter-gray-color;
    span {
      color: $light-blue-color;
    }
    @media only screen and (max-width: 1200px), (orientation: portrait) {
      font-size: 25px;
    }
  
    @media only screen and (max-width: 480px), (orientation: portrait) {
      font-size: 22px;
      line-height: 21px;
    }
  }

  button {
    margin: 30px auto 0;
    max-width: 380px;
  }
}