.articlesList{
      margin-bottom: 30px;
      padding: 30px 35px 40px;
      border: 1px solid $dark-white-color;

      li{
          margin-top: 15px;
      }
    }

    .articleBlock {
      @include white-border();
      margin-bottom: 20px;
      padding: 30px 25px 40px;
      

      .articleBlock__subtitle {
          display: flex;
          align-items: center;
          h3 {
              font-size: 18px; 
              color: $blue-color;
              white-space: nowrap;
              
          }  
          .line {
              background-color: $light-gray-color;
              height: 1px;
              width: 100%;
              margin-left: 10px;

          } 
          
          @media (min-width: 320px) and (max-width: 480px) {
              .line {
              display: none;     
              }
              h3{
              white-space: normal;   
              }
                              
          }
          
      }

      img{
          width: 80%;
          margin: 15px auto 15px auto;
          margin-left: 10%;
          
      }

      h2{
        font-size: 24px;
      }

      h1{
        font-size: 39px;
      }
      .date {
        display: flex;
        align-items: center;
        margin-top: 0!important;

        p {
            color: $light-gray-color;
            white-space: nowrap;
        }
        .line {
            background-color: $dark-white-color;
            height: 1px;
            width: 100%;
            margin-left: 10px;

        } 
        
        @media (min-width: 320px) and (max-width: 480px) {
            .line {
            display: none;     
            }                 
        }
        
        &:not(:first-child){
          margin-top: 30px;
        } 
    }

    }
