.articleBlock {
      @include white-border();
      padding: 50px 150px 40px;
      margin: 0 0 20px;

      // Small devices (landscape phones, 576px and up)
 padding: 15px 15px 40px; 

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { padding: 25px 25px 40px; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { padding: 25px 50px 40px; }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { padding: 50px 150px 40px; }

      .callout-box{
        display: inline-block;
            margin-bottom: 30px;
            margin-top: 20px;
            h2{
                margin-top: 0;
            }
            @include check($accent-color);
            background-color: rgb(223, 231, 255);
            padding: 35px 30px;
        }
      
        h3 {
            font-size: 16px; 
            margin-top: 25px;
            position: relative;

            @media (min-width: 992px) { 
                overflow-x: hidden;
                white-space: nowrap;
                font-size: 18px; 
             }
        
        } 
    
          
      img{
          width: 100%;
          margin: 15px auto 15px auto;
          height: auto;
      }

      img:first-child{
        width: 100%;
        // margin: 5px 25px 25px 0;
        float: left;
      }

      h2{
        font-size: 24px;
        margin-top: 35px;
        clear: both;
      }

      p{
        margin: 0;
      }

      h1{
        @media (min-width: 768px) { font-size: 35px; }
        margin-bottom: 15px;
      }
        .date {
            display: flex;
            align-items: center;
            margin-top: 0!important;

            p {
                color: $light-gray-color;
                white-space: nowrap;
            }
            .line {
                background-color: $dark-white-color;
                height: 1px;
                width: 100%;
                margin-left: 10px;

            } 
            
            @media (min-width: 320px) and (max-width: 480px) {
                .line {
                display: none;     
                }                 
            }
            
            &:not(:first-child){
            margin-top: 30px;
            } 
        }

    }
