.ui-datepicker{
    position: absolute;
    left: 50%;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}


.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: white;
  background: $accent-color;
  margin-bottom: 10px;
}

.ui-datepicker-prev, .ui-datepicker-next{
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}

.ui-datepicker-prev{
  float: left;
  margin-left: 12px;
    &:after{
        transform: rotate(45deg);
        margin: -43px 0px 0px 8px;
    }
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
    &:after{
        transform: rotate(-135deg);
        margin: -43px 0px 0px 6px;
    }
}

.ui-datepicker-prev:after, .ui-datepicker-next:after{
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.ui-datepicker-prev:hover, 
.ui-datepicker-next:hover, 
.ui-datepicker-prev:hover:after, 
.ui-datepicker-next:hover:after{
  border-color: #e69696;
}

.ui-datepicker-title{ text-align: center; }


.ui-datepicker-calendar{
  width: 100%;
  text-align: center;
  thead tr th span {
    display: block;
    width: 40px;
    color: $accent-color;
    margin-bottom: 5px;
    font-size: 13px;
    }
}

.ui-state-default{
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 40px;
  font-size: 12px;
    &:hover{
        background: rgba(0,0,0,0.02);
    }
}

.ui-state-highlight{
    color: $accent-color;
    background: $lighter-gray-color;
}
  

.ui-state-active{color: $blue-color;}
  

.ui-datepicker-unselectable{
    .ui-state-default {
        color: #eee;
        border: 2px solid transparent;
    }
}


