#commitment {
  background-image: url("../img/background_commitment.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 10%;
  height: 596px;
}