#contacts{

    textarea {
        height: 200px;
    }
    input, textarea {
        margin-top: 10px;
    }
    .button{
        max-width: 100%;
    }

    p{
        font-size: 20px;
        line-height: 20px;
    }

}