#newsList {
  background:  $lighter-gray-color;
  background:  $lighter-gray-color;

  .description {
    background-color: white;
    padding-bottom: 30px;
  }
}

.newsList{

    // max-width: 100%;
    // width: 100%;

    // @media only screen and (max-width: 1200px), (orientation: portrait) {
    // max-width: 100%;
    // }

    // @media only screen and (max-width: 980px), (orientation: portrait) {
    // max-width: 100%;
    // }

    @media (min-width: 1281px) {
    .newsList__block:nth-child(4n+1):nth-last-child(-n+4) ~ .newsList__block{
      margin-left:calc(24% * .055);
      margin-right: auto;
    }

    .newsList__block:nth-child(4n+3):nth-last-child(-n+4):last-child {
      margin-left:-24%;
    }
    }

    @media (min-width: 768px) and (max-width: 1280px) {

    .newsList__block:nth-child(3n+1):nth-last-child(-n+3) ~ .newsList__block{
      margin-left:calc(32% * .055);
      margin-right: auto;
    }

    .newsList__block:nth-child(3n+2):nth-last-child(-n+3):last-child {
      margin-left:-32%;
    }

  }



  // .newsList__block:nth-child(4n+1):nth-last-child(-n+4) ~ .newsList__block{

  //   margin-left:calc(24% * .055);
  //   margin-right: auto;
  // }

  // .newsList__block:nth-child(4n+3):nth-last-child(-n+4):last-child {
  //   margin-left:-24%;
  // }


  @media only screen and (max-width: 980px), (orientation: portrait) {
    .content {
      flex-wrap: wrap;
    }
  }

  .content {
      padding: 100px 0 0;
    }

    .newsList__block {
      @include articles();
        overflow: hidden;
        width: 24%;
        margin-bottom: 20px;

        @media (min-width: 1281px) {
          width: 24%;
        }

        @media (min-width: 768px) and (max-width: 1280px) {
          width: 32%;
        }
        
        @media (min-width: 481px) and (max-width: 767px) {
           width: 49%;
        }
        
        @media (min-width: 320px) and (max-width: 480px) {
          width: 100%;  
        }

        img {
            max-height: 330px;
        }

        p {
          font-size: 14px;

          &.date {
            color: $light-gray-color;

            &::after {
              display: none;
            }
          }
      }

      h3{
        font-size: 16px;
        line-height: 18px;
      }
    }
}