#routeDescription {
  .route-block {
    .block {
      cursor: auto;

      img {
        height: 470px;
      }
      .description{
        text-align: left;
      }

      &:hover {
        transition: top 1s ease-out 0.5s;
        .description {
          h3{
            color: $black-color;
          }
          // display: none;
        }
      }
    }
  }
}