
.trains {

    .sidebar {
      @include white-border();
      padding: 25px 25px 20px;

      ul {
        flex-direction: column;
        columns: 3;
        // -moz-column-break-inside:avoid;
        // -webkit-column-break-inside:avoid;
        // column-break-inside:avoid;

        h2 {
          margin-bottom: 15px;
          width: 100%;
        }

        li {
          position: relative;
          font-size: 14px;
          padding-bottom: 12px;
          -moz-column-break-inside:avoid;
          -webkit-column-break-inside:avoid;
          column-break-inside:avoid;

          &.active {
            padding-left: 16px;

            a {
              color: $black-color;
              font-weight: 700;

              pointer-events: none;
              cursor: default;
            }

            &::before {
              @extend %position-absolute;

              top: 2px;

              width: 10px;
              height: 13px;

              background-image: url("../img/art_arrow.svg");
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
    
      .train {
        a {
          h2 {
            font-size: 32px;
            margin-bottom: 15px;
          }
          img{
            height: 300px;
          }
        }
      }
    }

    .customer-reviews {
      @include white-border();

      margin-top: 0;
      padding: 30px 25px;

      span {
        font-size: 20px;
        position: relative;

        color: transparent;

        &::after {
          @extend %position-absolute;

          content: '\2605\2605\2605\2605\2605\2605\2605\2605\2605';
          color: $yellow-color;
          top: 6px;

          overflow: hidden;
        }

        &.half-star {
          &::after {
            width: 9px;

            overflow: hidden;
          }
        }

        &.last-star {
          margin-left: -17px;

          &::after {
            content: '\2606';
            left: auto;
          }
        }
      }
  }
  
  #testimonials {
    .testimonials {
      &__block {
        @media only screen and (max-width: 1320px), (orientation: portrait) {
          width: 100%;
        }
      }
    }

}