#trainPage{
    .gallery {
        @include arrows();
    
        img {
        @include transition();
    
        &:hover {
            opacity: .8;
        }
        }
    
    }

    .feauter {
        margin-bottom: 30px;
        .feauter-box{
            margin-top: 30px;
            background-color: $lighter-gray-color;
            height: 135px;
            width: 24%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .fbox-icon{
                border: none !important;
                background-color: transparent !important;
                color: $blue-color;
                border-radius: 0;
                font-size: 65px;
            }
        }
    }

    .train {
        @include white-border();

        margin-bottom: 20px;

        &__description {
          padding: 30px 25px 40px;

          .text {
            @extend %border-box;

            padding-right: 25px;
          }

          @media only screen and (max-width: 980px), (orientation: portrait) {
            padding-bottom: 20px;
          }

          img {
            @media only screen and (max-width: 680px), (orientation: portrait) {
              max-width: 150px;
            }
          }
        }

        &__schedule {
          .stroke {
            background: lighten($lighter-gray-color, 2%);
            border-bottom: 1px solid $dark-white-color;

            &:first-child {
              border-top: 1px solid $dark-white-color;
            }

            .bold {
              margin-top: 10px;
              margin-bottom: 0;
            }

            .name {
              font-size: 12px;
              line-height: 14px;

              margin-top: 0;
              margin-bottom: 10px;
            }

            .number {
              @extend %border-box;

              flex-grow: 0;

              padding: 0 25px;

              border-right: 1px dashed $dark-white-color;
            }

            .time {
              @extend %border-box;

              max-width: 180px;
              width: 100%;

              border-right: 1px dashed $dark-white-color;

              padding: 0 25px;

              @media only screen and (max-width: 680px), (orientation: portrait) {
                max-width: 145px;
              }
            }

            .from {
              @extend %border-box;

              flex-grow: 1;

              position: relative;
              min-width: 180px;

              padding: 0 25px;

              &::after {
                @extend %position-absolute;

                right: -50%;

                width: 10px;
                height: 13px;

                background-image: url("../img/art_arrow.svg");

                margin: auto;

                @media only screen and (max-width: 1200px), (orientation: portrait) {
                  right: -70%;
                }

                @media only screen and (max-width: 1200px), (orientation: portrait) {
                  right: -85%;
                }
              }
            }

            .to {
              @extend %border-box;

              flex-grow: 1;

              min-width: 180px;

              padding: 0 25px;
            }
          }

          margin-bottom: 25px;
        }
      }
}