
.trains {

    .sidebar {
      ul {
        @include white-border();

        padding: 30px 25px 40px;

        @media only screen and (max-width: 980px), (orientation: portrait) {
          @include flexbox(flex-start, flex-start, flex-start);

          padding: 25px 25px 20px;

          margin-bottom: 20px;
        }

        h2 {
          margin-bottom: 15px;

          @media only screen and (max-width: 980px), (orientation: portrait) {
            width: 100%;
          }

        }

        li {
          position: relative;

          font-size: 14px;

          padding-bottom: 12px;

          @media only screen and (max-width: 980px), (orientation: portrait) {
            padding-right: 26px;

            &::after {
              position: absolute;
              content: '\22EF';

              top: 0;
              right: 7px;
            }

            &:last-child {
              &::after {
                content: '';
              }
            }
          }

          &.active {
            padding-left: 16px;

            a {
              color: $black-color;
              font-weight: 700;

              pointer-events: none;
              cursor: default;
            }

            &::before {
              @extend %position-absolute;

              top: 2px;

              width: 10px;
              height: 13px;

              background-image: url("../img/art_arrow.svg");
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
    
    .train {
        @include white-border();

        margin-bottom: 20px;

        &__description {
          padding: 30px 25px 40px;

          .text {
            @extend %border-box;

            padding-right: 25px;
          }

          img {
            @media (min-width: 1281px) {
              max-width: 250px;
            }
          
          }

          @media only screen and (max-width: 980px), (orientation: portrait) {
            padding-bottom: 20px;
          }

        }
    }

    .customer-reviews {
        @include white-border();

        margin-top: 10px;
        padding: 30px 25px;

        span {
          font-size: 20px;
          position: relative;

          color: transparent;

          &::after {
            @extend %position-absolute;

            content: '\2605\2605\2605\2605\2605\2605\2605\2605\2605';
            color: $yellow-color;
            top: 6px;

            overflow: hidden;
          }

          &.half-star {
            &::after {
              width: 9px;

              overflow: hidden;
            }
          }

          &.last-star {
            margin-left: -17px;

            &::after {
              content: '\2606';
              left: auto;
            }
          }
        }
    }
    
    #testimonials {
      padding: 0;

      .testimonials {
        &__block {
          @media only screen and (max-width: 1320px), (orientation: portrait) {
            width: 100%;
          }
        }
      }
    }
  

  #news {
    padding: 0;

    .container{
      padding-left: 0!important;
      padding-right: 0!important;
      
    }

  }

}