#trainPage{
    .gallery {
        @include arrows();
    
        img {
        @include transition();
    
        &:hover {
            opacity: .8;
        }
        }
    }


    .fbox-icon{
        border: none !important;
        background-color: transparent !important;
        color: $blue-color;
        border-radius: 0;
        font-size: 70px;
    }


    .train {
        @include white-border();

        margin-bottom: 20px;

        &__description {
          padding: 30px 25px 40px;

          .text {
            @extend %border-box;

            padding-right: 25px;
          }

          @media only screen and (max-width: 980px), (orientation: portrait) {
            padding-bottom: 20px;
          }

          img {
            @media only screen and (max-width: 680px), (orientation: portrait) {
              max-width: 150px;
            }
          }
        }
      }
}

.list-group{
  margin-bottom: 15px;
  .list-group-item{
    background: lighten($lighter-gray-color, 2%);
    border-bottom: 1px solid $dark-white-color;
    border-left: none;
    border-right: none;
    color: $accent-color;
    cursor: pointer;

    table{
      cursor: default;
    }

    font-size: 14px;
    line-height: 20px;
    font-weight: 300;

    &:first-child {
          border-top: 1px solid $dark-white-color;
        }

        .from {
          @extend %border-box;
          flex-grow: 1;
          position: relative;
          min-width: 180px;


          &::after {
            @extend %position-absolute;
            @media (min-width: 320px) and (max-width: 480px) {
               display: none;
            }
            
            right: -50%;
            width: 10px;
            height: 13px;
            background-image: url("../img/art_arrow.svg");
            margin: auto;
            @media only screen and (max-width: 1200px), (orientation: portrait) {
              right: -70%;
            }

            @media only screen and (max-width: 1200px), (orientation: portrait) {
              right: -85%;
            }
          }
        }   
  }

  .list-group-item-success {
    color: $blue-color;
    background: lighten($blue-color, 40%);
  }
}