#usefulInfo {
  background:  $lighter-gray-color;

  .description {
    background-color: white;
    padding-bottom: 30px;
  }

  .usefulInfo__content {
    background: $lighter-gray-color;
    padding: 30px 0 0;
    flex-wrap: wrap;

      @media (min-width: 1281px) {
        .usefulInfo__block:nth-child(4n+1):nth-last-child(-n+4) ~ .usefulInfo__block{
          margin-left:calc(24% * .055);
          margin-right: auto;
        }
  
        .usefulInfo__block:nth-child(4n+3):nth-last-child(-n+4):last-child {
          margin-left:-24%;
        }
      }

      @media (min-width: 768px) and (max-width: 1280px) {

        .usefulInfo__block:nth-child(3n+1):nth-last-child(-n+3) ~ .usefulInfo__block{
          margin-left:calc(32% * .055);
          margin-right: auto;
        }
  
        .usefulInfo__block:nth-child(3n+2):nth-last-child(-n+3):last-child {
          margin-left:-32%;
        }
        
      }
    } 
}


.usefulInfo__block {
  overflow: hidden;
  width: 24%;
  margin-bottom: 20px;
  @include articles();

  @media (min-width: 1281px) {
    width: 24%;
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    width: 32%;
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
     width: 49%;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;  
  }

  img {
      max-height: 330px;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
  }

}

